# External storage settings.
# Local AI model storage Default is inside repo
OLLAMA_MODEL_STORAGE="./ollama-data"

# Ollama 
OLLAMA_PORT_E=11434
OLLAMA_PORT_I=11434
OLLAMA_HOST=ollama

# Frontend
FRONTEND_PORT_E=5173
FRONTEND_PORT_I=5173

# API
API_PORT_E=8080
API_PORT_I=8080
API_HOST=api