[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "common"
version = "0.1.0"
description = "Shared utilities and constants for all MCP apps"
authors = [{ name = "David Mulgrew" }]
dependencies = []
